// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: normal;
//   src:
//     url('./font/brand/theme2/open-sans/regular/OpenSans-Regular.woff2') format('woff2'),
//     url('./font/brand/theme2/open-sans/regular/OpenSans-Regular.woff') format('woff'),
//     url('./font/brand/theme2/open-sans/regular/OpenSans-Regular.ttf') format('ttf');
// }
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');
html,
body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  color: white;
}
#loader:before {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.spin {
  border: 16px solid #0042a4;
  border-radius: 50%;
  border-top: 16px solid #3775cf;
  border-right: 16px solid #619bee;
  border-bottom: 16px solid #96bff9;
  border-left: 16px solid #c9e0ff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 30%;
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .card-title {
      display: flex;
      align-items: center;
    }
  }
}
.bg-primary {
  background-color: #0042a4 !important;
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
